doctype html

block meta

html(lang="es")
  head

    //- Meta
    title #{(pageTitle) ? `${pageTitle} -` : ''} Boleta

    //- Settings
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    //- Appearance
    link(rel="shortcut icon", href="/images/boleta.svg", type="image/x-icon")
    link(rel="stylesheet", href="/stylesheets/fonts/bitter.css")
    link(rel="stylesheet", href="/stylesheets/style.min.css")
    link(rel="stylesheet", href="/stylesheets/icons/bootstrap-icons.min.css")

  body

    //- Content
    block sublayout

    //- Scripts
    script(src="/javascripts/bootstrap/bootstrap.bundle.min.js") 
