extends ../layout-home

block content
  .col-sm-8.col-xl-6 
    section.card.my-5.shadow-lg
      .card-body.p-5
        h2.card-title.mt-2.mb-3 Inicie sesión
        p.mb-4 Para crear y guardar listas de compra necesita tener una cuenta. Si no tiene una puede 
          a.link-dark(href="/registro") crear una aquí
          |. 
        form(action="/", method="post")
          if errors.invalid_credentials
            .alert.alert-warning
              span Correo o contraseña incorrectos.
          .form-floating.mb-3
            input.form-control(type="email", name="email", required)
            label(for="email") Email:
          .form-floating.mb-3
            input.form-control(type="password", name="password", required)
            label(for="password") Contraseña:
          .mb-4
            input.btn.btn-primary(type="submit", value="Iniciar sesión")
          .mb-3
            small
              a.link-dark(href="http://") ¿Olvidaste tu contraseña?
