extends ../layout

block content
  h1 游 Lista de compras 游눶
  h3 Inicie sesi칩n para ver sus listas
  form(action="/", method="post")
    if errors.invalid_credentials
      div
        span Correo o contrase침a incorrectos.
    div
      div 
        label(for="email") Email:
      div 
        input(type="email", name="email", required)
    div
      div
        label(for="password") Contrase침a:
      div
        input(type="password", name="password", required)
    div
      input(type="submit", value="Iniciar sesi칩n")