extends ../layout-dashboard

block content 
  .container
    section.card.mx-3.my-4.shadow-lg
      .card-body.p-4
        h2.mb-4 Cambiar contraseña
        if success 
          p ¡Contraseña actualizada!
        form(action="/mi-cuenta/contrasena", method="post")
          .container
            .row.mb-3 
              .col-sm-6.mb-1
                label(for="password") Contraseña*
              .col-sm-6

                input(type="password", name="password", required, class="form-control")
                if errors.password 
                  .text-danger.mt-2
                    small #{errors.password}
            .row.mb-3
              .col-sm-6.mb-1
                label(for="passwordConfirmation") Repita la contraseña*
              .col-sm-6 
                input(type="password", name="passwordConfirmation", required, class="form-control")
                if errors.passwordConfirmation 
                  .text-danger.mt-2
                    small #{errors.passwordConfirmation}
          div 
            input(type="submit", value="Actualizar", class="btn btn-primary")