extends ../layout

block content 
  include ../blocks.pug
  +accountMenu()
  section 
    h1 Cambiar contraseña
    if success 
      p ¡Contraseña actualizada!
    form(action="/mi-cuenta/contrasena", method="post")
      div 
        div 
          label(for="password") Contraseña*
        div
          input(type="password", name="password", required)
          if errors.password 
            span #{errors.password}
      div
        div 
          label(for="passwordConfirmation") Repita la contraseña*
        div 
          input(type="password", name="passwordConfirmation", required)
          if errors.passwordConfirmation 
            span #{errors.passwordConfirmation}
      div 
        input(type="submit", value="Actualizar")