// Bootstrap customizations
$font-family-sans-serif: Bitter, system-ui, -apple-system, "Noto Serif", "Liberation Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$primary: #61E294
$primary-dark: #4e8d67
$secondary: #E88873

@import '../../node_modules/bootstrap/scss/bootstrap'
@import 'fonts/bitter.css'


// GLOBAL STYLES

// Allow element use the full height of the viewport
html,
body
  height: 100%

.bg-primary-dark
  background-color: $primary-dark

// Custom shadow to pop text
.text-shadow-emphasis
  text-shadow: -1px 1px $primary-dark

@import 'home'
@import 'dashboard'
